.profile {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header {
    text-align: center; 
    font-size: 16px;
    color: aqua;
}


p {
    color: green;
    text-align: center;
}

.content {
    text-align: center;
}
.box {
    width: 100px;
    background-color: cadetblue;
    margin-left: 10px;
    padding: 40px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    font-family: gulim;
}

.container {
    width: 800px;
}

.header {
    width: 100%;
    height: 50px;
    background: aquamarine;
}

.left-menu {
    width: 20%;
    height: 400px;
    background: cornflowerblue;
    float: left;
}

.right {
    width: 80%;
    height: 400px;
    background: coral;
    float: left;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: grey;
    clear: both;
}
.blog-content {
    width: 80%;
    height: 200px;
    background: #eee;
    float: left;
}

.blog-img {
    width: 20%;
    height: 200px;
    background: yellow;
    float: left;
}