td,th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    border-spacing : 0;
    border-radius : 7px;
    border-style : hidden;
    box-shadow: 0 0 0 1px #666;
}

td {
    border-top-left-radius: 5px;
}

