.profile {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header {
    text-align: center; 
    font-size: 16px;
}

.content {
    color: red;
}

p {
    color: green;
}

#special {
    text-align: center;
    color: blue;
}